default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: test_blog_development
  username:
  password:

test: &test
  <<: *default
  database: test_blog_test
  username:
  password:

production:
  <<: *default
  database: test_blog_production
  username: test_blog
  password: <%= ENV['TEST_BLOG_DATABASE_PASSWORD'] %>

cucumber:
  <<: *test
