<div class='row' class="posts">
  <%= render 'post', post: @featured_post if !@featured_post.nil? %>
  <%= render @posts if !@posts.empty? %>
  <div class='row' >
    <div class="col-xs-12 text-xs-center">
      <%= will_paginate @posts %>
    </div>
  </div>
  <% if params[:action] == 'search' %>
    <div class='row' >
      <div class="col-xs-12 text-xs-center">
        <%= link_to '<< Back', posts_path %>
      </div>
    </div>
  <% end %>
</div>
