$card-shadow-color: #888888;

@mixin uppercaseHeader {
  color: white;
  text-transform: uppercase;
}

.posts-index, .posts-my_posts, .posts-search, .welcome-index {
  .card {
    min-height: 400px;
    .card-header {
      @include uppercaseHeader;
    }
    .card-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .card-fullwidth {
    min-height: 600px;
  }
}

.posts-show {
  .card-header {
    @include uppercaseHeader;
  }
}
