$card-shadow-color: #888888;

.posts-index, .posts-my_posts {
  .card {
    min-height: 400px;
    .card-header {
      color: white;
      text-transform: uppercase;
    }
    .card-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
